<div class="container">
    <h1>{{user.name}}</h1>
    <hr>
    <p>{{user.image}}</p>
    <p>{{user.description}}</p>
    <p>{{user.rate}}</p>
    <hr>
    <section>{{comment.comment}}</section>
</div>