<div class="container">
    <h1>{{event.name}}</h1>
    <p>{{event.date.start}}</p>
    {{#if canDelete}}
    <form action="/event/delete/{{event._id}}" method="POST">
        <button type="submit" class="btn btn-danger  btn-lg">Delete Event</button>
    </form>
    {{/if}}
    <hr>
    <section>

        <img src="https://image.tmdb.org/t/p/w500/{{event.movie.image}}" alt="movie cover" width="150">
        <p>{{event.movie.name}}</p>
        <hr>
        <p> {{event.description}}</p>

        {{#if canJoin}}
        <form action="/event/assignUser/{{event._id}}/{{userInSession._id}}" method="POST">
            <button type="submit" class="btn btn-dark  btn-lg">Assist</button>
        </form>
        {{/if}}
        <h2>Organizer</h2>
        <p>{{event.organizer.name}}</p>
        <h2>List users</h2>
        {{#each event.users}}
        <p>-{{name}}<a href="/user/profile/{{id}}" class="btn btn-dark btn-sm">Details</a>

            {{#if ../canDelete}}
        <form action="/event/deleteUser/{{../event._id}}/{{_id}}" method="POST">
            <button type="submit" class="btn btn-danger  btn-lg">Delete User</button>
        </form>
        {{/if}}
        </p>
        {{/each}}
    </section>
</div>